#| Folders |#
node_modules/
Moviles/
ANI_MX_SCANS/
ANIMXSCANS/
sesionRespaldo/
/.git/
#| Files |#
creds.json
database.json
BotComedia.data.json
session.data.json
ANI_MX_SCANS-MD.zip
package-lock.json
ANIMXSCANS.zip
